.container {
    word-break: break-word;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas:
        "header header header"
        "newTask newTask newTask "
        "form form form"
        "taskList taskList taskList"
        "task task task"
    ;
}

@media (max-width: 490px) {
    .container {
        min-width: 100%;
    }
}

.container__item {
    background-color: white;
    padding: 20px;
    margin: 1px;
    list-style: none;
}

.container__item--header {
    grid-area: header;
    padding: 20px;
}

.container__item--addNewTask {
    grid-area: newTask;
    padding: 20px;
}

.container__item--form {
    grid-area: form;
    padding: 20px;
}

.container__item--taskList {
    grid-area: taskList;
    padding: 20px;
    margin-top: 6px;
}

.container__item--listItem {
    grid-area: task;
    padding-top: 40px;
}