.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    margin: 1px;
    list-style: none;
}

.form__input {
    flex-basis: 84%;
    line-break: auto;
}

@media (max-width: 775px) {
    .form__input {
        flex-grow: 1;
        margin-bottom: 6px;
        height: 35px;
        font-size: 20px;
    }
}

.form__button {
    padding: 6px;
    color: azure;
    background-color: teal;
    border: 0px;
}

@media (max-width: 775px) {
    .form__button {
        flex-grow: 1;
    }
}