.list__item {
    display: flex;
    justify-content: space-between;
}

.list__content {
    flex-grow: 1;
    padding-left: 6px;
}

.list__contentlist__content--done {
    text-decoration: line-through;
    flex-grow: 1;
    padding-left: 6px;
}

.list__button {
    background-color: green;
    color: white;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    border: 0px;
}

.list__button--remove {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__border {
    border: 1px solid #8080802b;
    margin: 13px 0px;
}