.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    border-bottom: 1px solid #8080802b;
    padding: 20px 0px;
}

.list__content {
    word-break: break-word;
    margin-top: 6px;
}

.list__contentlist__content--done {
    text-decoration: line-through;
    word-break: break-word;
    margin-top: 6px;
}

.list__button {
    background-color: green;
    color: white;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    border: 0px;
    margin-left: -28px;
    margin-right: 6px;
}

.list__button--remove {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}