html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.body {
  margin: 20px;
  background-color: #8080802b;
}

.list__itemlist__item--done {
  text-decoration: line-through;
}

.button {
  background-color: green;
}

.container {
  max-width: 90%;
  margin: auto;
}

.container__item {
  background-color: white;
  margin: 1px;
  padding: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;

}

.form__input {
  flex-grow: 1;
  margin-right: 20px;
  padding: 6px;
}

.form__button {
  padding: 6px;
  color: azure;
  background-color: teal;
  border: 0px;
}

@media (max-width: 490px) {
  .form__button {
    width: 93%;
  }
}