html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.body {
  margin: 20px;
  background-color: #8080802b;
}

.list__item {
  display: flex;
  justify-content: space-between;
}

.list__itemlist__item--done {
  text-decoration: line-through;
  display: flex;
  flex-wrap: nowrap;
}

.list__button {
  background-color: green;
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
  border: 0px; 
}

.list__content {
  flex-grow: 1;
  padding-left: 6px;
}

.list__button--remove {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.border {
  border: 1px solid #8080802b;
  margin: 13px 0px;
}

.container {
  word-break: break-word;
  max-width: 69%;
  margin: auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "newTask newTask newTask "
    "form form form"
    "taskList taskList taskList"
    "task task task"
  ;
}

.container__item {
  background-color: white;
  padding: 20px;
  margin: 1px;
  list-style: none;
}

.container__item--header {
  grid-area: header;
}

.container__item--addNewTask {
  grid-area: newTask;
  padding: 13px;
}

.container__item--form {
  grid-area: form;
}

.container__item--taskList {
  grid-area: taskList;
  padding: 13px;
  margin-top: 6px;
}

.container__item--listItem {
  grid-area: task;
  padding-top: 40px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__input {
  flex-basis: 84%;
  line-break: auto;
}

@media (max-width: 490px) {
  .form__input {
    flex-grow: 1;
  }
}

.form__button {

  padding: 6px;
  color: azure;
  background-color: teal;
  border: 0px;
}

@media (max-width: 490px) {
  .form__button {
    flex-grow: 1;
  }
}